[submodule "SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend"]
	path = SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend
	url = https://github.com/DickyDicky7/SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend
