[submodule "SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend"]
	path = SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend
	url = https://github.com/DickyDicky7/SeminarCacVanDeHienDaiCuaCongNghePhanMem-Backend
[submodule "SeminarCacVanDeHienDaiCuaCongNghePhanMem-Frontend-Shipper"]
	path = SeminarCacVanDeHienDaiCuaCongNghePhanMem-Frontend-Shipper
	url = https://github.com/DickyDicky7/SeminarCacVanDeHienDaiCuaCongNghePhanMem-Frontend-Shipper
[submodule "lift-coordinate"]
	path = lift-coordinate
	url = https://github.com/bcluc/lift-coordinate
[submodule "SeminarCNPM_FE_SenderReceiver"]
	path = SeminarCNPM_FE_SenderReceiver
	url = https://github.com/ZeVnan/SeminarCNPM_FE_SenderReceiver
